@font-face {
    font-family: nikeflix;
    ;
    src: url(/Users/merijn/TheOdinProject/repos/Etch-A-Sketch/FONTS/nikeflix/);
}

/*selectors*/

body {
    font-family: nikeflix;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px 10px;
    background-color: #2B4040;
}

/* texts */
h1 {
    font-size: 60;
    text-shadow: 2px 2px #97A69B;
}

a {
    font-family: nikeflix;
    font-size: 16;
    color: black;
    text-decoration: none;
}

p.value#gridValue {
    font-family: nikeflix;
    font-size: 30;
    text-align: center;
    margin: 5px;
}

/* classes */

.button {
    font-family: nikeflix;
    font-size: 25;
    text-align: center;
    background-color: #465956;
    border-radius: 10px;
    border: 2px solid black;
    margin: 5px;
    margin-left: 7px;
    width: 45%;
    height: 45%;
    transition: transform .2s;
}

.button#randomColorBtn {
    margin-left: 3px;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 4px solid #97A69B;
}

.buttonContainer {
    width: 265px;
    height: 120px;
    vertical-align: middle;
}



.container#sliderButtons {
    width: 560px;
    height: 140px;
    background-color: #798C83;
    border-radius: 10px;
    border: 4px solid black;
    box-shadow: 3px 3px 0px 0px #060C0D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px 10px;
    margin-bottom: -2px;
}

.divGrid {
    border: 0.5px solid black;
}

div.header {
    height: 100px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -60px;
    height: 100px;
}

.sliderContainer {
    width: 265px;
    height: 120px;
    vertical-align: middle;
    text-align: top;
}

.sketchGrid {
    border: 4px solid black;
    border-radius: 10px;
    background-color: #97A69B;
    box-shadow: 4px 4px 0px 0px #060C0D;
    margin-top: 5px;
    width: 560px;
    height: 560px;
    display: grid;
}

/* ids */

#colorPicker {
    border: 2px solid #060C0D;
    border-radius: 10px;
    width: 95%;
    height: 40%;
    margin: 5px;
    margin-top: 0px;
    transition: transform .2s;
}

#colorpicker:hover {
    transform: scale(1.05);
    box-shadow: 4px solid #97A69B;
}

#slider {
    appearance: none;
    border: 2px solid #060C0D;
    border-radius: 10px;
    width: 97%;
    height: 40%;
    margin: 5px;
    margin-top: 0px;
    padding: 5px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 80%;
    background: #2B4040;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 5px;
    height: 80%;
    background: #2B4040;
    cursor: pointer;
}

#txtGridValue {
    background-color: #465956;
    border-radius: 10px;
    border: 2px solid black;
    margin: 5px;
    width: 95%;
    height: 41%;
}